header{
    background: lightblue;
    padding: 10px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
}

header a{
    margin: 10px;
    text-decoration: none;
}

.content{
    margin-top: 20px;
}