.box{
    display:inline-block;
    width:180px;
    margin:10px;
    padding:10px;
    border:2px solid black;
    background:lightgray;
    text-align:center;
}

.box:hover{
    outline:2px solid blue;
    outline-offset:3px;
}

img{
    width:100px;
}